body {
    width: 180px;
    height: 180px;
    color: #333;
    font-family: helvetica;
    font-size: 15pt;
    text-align: center;
}

#loading {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -18px;
}
