<!doctype html>
<html ng-app="weatherApp" ng-csp>
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <link href="bower_components/angular/angular-csp.css" rel="stylesheet">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-controller="WeatherCtrl" data-ng-init="init()">
    <div id="loading" ng-show="isLoading">
      <img src="images/loading.gif" alt="Loading"/>
    </div>
    <skycon icon="CurrentWeather.forecast.icon" size="CurrentWeather.forecast.iconSize"></skycon>
    <div id="state-mask">{{summary}}</div>
    <div id="temperature" temperature>{{temperature}}</div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/skycons/skycons.js"></script>
    <script src="bower_components/angular-skycons/angular-skycons.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
